<% provide(:title, "Contact") %>

<div class="max-w-lg">
  <h1 class="text-5xl font-bold tracking-normal leading-tight text-coolgray-900 dark:text-white">Contact</h1>
  <p class="text-xl leading-relaxed mt-6 mb-9 font-medium text-coolgray-500 dark:text-gray-400">
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="https://www.railstutorial.org/contact" class="text-coolgray-900 hover:text-coolgray-700 dark:text-gray-300 dark:hover:text-white">contact page</a>.
  </p>
</div>