<% provide(:title, "Contact") %>

<div class="max-w-2xl">
  <h1 class="text-7xl font-extrabold tracking-tight text-coolgray-900 dark:text-white">Contact</h1>
  <p class="text-2xl leading-relaxed mt-6 mb-9 font-normal text-coolgray-500 dark:text-gray-400">
    Contact the Ruby on Rails Tutorial about the sample app</br>at the
    <a href="https://www.railstutorial.org/contact" class="text-coolgray-900 hover:text-coolgray-700 dark:text-gray-300 dark:hover:text-white">contact page</a>.
  </p>
</div>