<% provide(:title, "Help") %>

<div class="max-w-2xl">
  <h1 class="text-7xl font-extrabold tracking-tight text-coolgray-900 dark:text-white">Help</h1>
  <p class="text-2xl leading-relaxed mt-6 mb-9 font-normal text-coolgray-500 dark:text-gray-400">
    Get help on the Ruby on Rails Tutorial at the
    <a href="https://www.railstutorial.org/help" class="text-coolgray-900 hover:text-coolgray-700 dark:text-gray-300 dark:hover:text-white">Rails Tutorial help
    page</a>.
    To get help on this sample app, see the
    <a href="https://www.railstutorial.org/book" class="text-coolgray-900 hover:text-coolgray-700 dark:text-gray-300 dark:hover:text-white">Ruby on Rails
    Tutorial book</a>.
  </p>
</div>