<div class="max-w-lg">
    <h1 class="text-5xl font-bold tracking-normal leading-tight text-coolgray-900 dark:text-white">
    Welcome to the sample Rails&nbsp;app.
    </h1>
    <p class="text-xl leading-relaxed mt-6 mb-9 font-medium text-coolgray-500 dark:text-gray-400">
        Just the home page for the Ruby on Rails Tutorial sample application which is basically a Twitter clone.
    </p>
    <%= link_to "Aight, show me what you got", signup_path, 
        class: "inline-flex items-center transform origin-center h-14 px-6 
                text-xl font-medium text-white 
                rounded-xl shadow-md
                bg-cyan-500
                transition
                hover:bg-cyan-600 hover:shadow-lg 
                active:scale-98
                dark:bg-cyan-600 dark:hover:bg-cyan-700" %>
</div>