<% provide(:title, 'Sign up') %>

<div class="max-w-2xl">
    <h1 class="text-7xl font-extrabold tracking-tight text-coolgray-900 dark:text-white">Sign up</h1>
    <p class="text-2xl leading-relaxed mt-6 mb-9 font-normal text-coolgray-500 dark:text-gray-400">This will be a signup page for new users.</p>
</div>