@layer base {
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 100;
         font-display: swap;
         src: url("/assets/fonts/Inter-Thin.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-Thin.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 200;
         font-display: swap;
         src: url("/assets/fonts/Inter-ExtraLight.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-ExtraLight.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 300;
         font-display: swap;
         src: url("/assets/fonts/Inter-Light.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-Light.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 400;
         font-display: swap;
         src: url("/assets/fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-Regular.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 500;
         font-display: swap;
         src: url("/assets/fonts/Inter-Medium.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-Medium.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 600;
         font-display: swap;
         src: url("/assets/fonts/Inter-SemiBold.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-SemiBold.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 700;
         font-display: swap;
         src: url("/assets/fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-Bold.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 800;
         font-display: swap;
         src: url("/assets/fonts/Inter-ExtraBold.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-ExtraBold.woff?v=3.15") format("woff");
    }
     
    @font-face {
         font-family: 'Inter';
         font-style:  normal;
         font-weight: 900;
         font-display: swap;
         src: url("/assets/fonts/Inter-Black.woff2?v=3.15") format("woff2"),
              url("/assets/fonts/Inter-Black.woff?v=3.15") format("woff");
    }
}

@layer components {
     h1, h2, h3, h4, h5, h6, p {
          @apply    text-coolgray-900
                    dark:text-white
     }

     .nav-link {
          @apply    box-border
                    py-2 px-3
                    text-sm font-medium text-coolgray-500
                    transition
                    hover:text-coolgray-900
                    
                    dark:text-gray-400
                    dark:hover:text-white
      }

      .debug_dump {
           @apply   max-w-7xl mx-auto my-12
                    box-border
                    py-8 px-8
                    rounded-lg
                    text-coolgray-900
                    bg-coolgray-200

                    dark:text-white
                    dark:bg-gray-800
      }

      .gravatar {
           @apply   rounded-full
                    w-24
      }

      .nav-gravatar {
           @apply   rounded-full
                    w-8
                    mr-3
      }

      .signup-input {
          @apply    block w-full
                    px-3 mb-4 h-10 
                    rounded-md

                    text-sm text-coolgray-900 placeholder-coolgray-500 
                    
                    outline-none

                    transition

                    ring-0
                    focus:ring-2 focus:ring-cyan-500
                    bg-coolgray-100 hover:bg-coolgray-300 focus:bg-white hover:bg-opacity-50 focus:bg-opacity-50

                    dark:border-gray-700
                    dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:bg-gray-700
                    dark:text-white dark:placeholder-gray-500
      }

      .signup-button {
           @apply   w-full h-10
                    rounded-md

                    cursor-pointer
                    outline-none

                    transition
                    transform

                    text-sm text-white font-semibold
                    bg-cyan-500 hover:bg-cyan-600

                    focus:ring-4 focus:ring-cyan-500 focus:ring-opacity-25 focus:bg-cyan-600

                    active:scale-98

                    shadow-sm
      }

      .form-error {
           @apply   inline-block 
                    -mt-2 mb-4 
                    text-xs leading-relaxed 
                    
                    text-red-700
                    dark:text-red-400
      }

      .alert {
           @apply   absolute
                    max-w-md
                    mx-auto
                    top-12 inset-x-0
                    p-4

                    text-sm font-medium text-coolgray-500

                    rounded-lg
                    bg-white
                    shadow-lg

                    dark:text-gray-400
                    dark:bg-gray-700
      }
}


